.Main-chat

  .Main-chat__header
    .Main-chat__header__group
      .Main-chat__header__group__name
        = @group.name
      %ul.Main-chat__header__group__member-list
        Member：
        - @group.users.each do |user|
          .Main-chat__header__group__member
            %li= user.name
    = link_to edit_group_path(params[:group_id]), class: "Main-chat__header__edit" do
      Edit

  .Main-chat__message
    = render @messages

  .Main-chat__form
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .Form-contents
        = f.text_field :content, placeholder: 'type a message', class: 'Form-contents__message'
        = f.label :image, class: 'Form-contents__image' do
          = icon('far', 'image', class: 'Form-contents__image--icon')
          = f.file_field :image, class: 'Form-contents__image__file'
      = f.submit 'Send', class: 'Send-button'